.copyright {
  color: #bbb;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 22px;
  opacity: 0;
  transition: opacity .7s;
}

.copyright--active {
  opacity: 1;
}