.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  opacity: 0;
  overflow: hidden;
  max-width: 450px;
  transition: opacity .7s,
    transform .7s;
  transform: translateZ(-2em);
}

.panel--active {
  opacity: 1;
  transform: translateZ(0);
}

.panel__secondary {
  transform: none;
}

.panel__secondary .panel__photo {
  opacity: 0;
  transform: translate(30px, 0);
}

.panel__secondary .panel__wrapper {
  opacity: 0;
  transform: translate(-30px, 0);
}

.panel__secondary.panel--active .panel__photo {
  opacity: 1;
  transform: translate(0, 0);
}

.panel__secondary.panel--active .panel__wrapper {
  opacity: 1;
  transform: translate(0, 0);
}

.panel__photo {
  background-color: #777;
  height: 250px;
  transform: translate(0);
  transition: opacity .7s,
    transform .7s;
}

.panel__photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.panel__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-sizing: border-box;
  opacity: 1;
  padding: 30px 25px 60px;
  transform: translate(0);
  transition: opacity .7s,
    transform .7s;
}

.panel__secondary .panel__wrapper {
  justify-content: space-between;

  &::after {
    content: "";
    display: block;
    width: 100%;
  }
}

.panel__content > p {
  color: $colorText;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;

  &:last-child {
    padding-bottom: 0;
  }
}

.panel__btn {
  text-align: center;
}

.panel__btn .btn {
  font-weight: normal;
}

@media (min-width: $tabletWidth) {
  .panel {
    max-width: 100%;
    width: 100%;
  }

  .panel__photo {
    height: 60vh;
  }

  .panel__wrapper {
    padding: 30px;
    padding-bottom: 60px;
  }

  .panel__content > p {
    font-size: 14px;
    line-height: 23px;
  }
}


@media (min-width: $laptopWidth) {
  .panel {
    flex-direction: row;
    width: 1100px;
  }

  .panel__wrapper {
    padding: 44px;
    width: 50%;
  }

  .panel__photo {
    height: auto;
    width: 50%;
  }

  .panel__secondary.panel .panel__photo {
    transform: translate(0, 30px);
  }

  .panel__secondary.panel .panel__wrapper {
    transform: translate(0, -30px);
  }

  .panel__secondary.panel--active .panel__photo {
    transform: translate(0, 0);
  }

  .panel__secondary.panel--active .panel__wrapper {
    transform: translate(0, 0);
  }
}


@media (min-width: $desktopWidth) {
  .panel {
    width: 1300px;
  }
}
