.work-list {
  position: absolute;
  top: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  flex-direction: column;
  padding: 50px 0;
  width: 0;
  height: calc(100% - 100px);
  transition: all 0.7s;
}

.work-list--active {
  display: flex;
  background: #eedbce;
  padding: 50px 0;
  width: 100%;
}

.work-list--active .work-list__btn {
  display: block;
}

.work-list__btn {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(-5px, 25px);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0;
  outline: none;
  width: 40px;
  height: 40px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 4px;
    height: 40px;
    transition: background .3s;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover::after,
  &:hover::before,
  &:focus::after,
  &:focus::before {
    background: $red;
  }
}

.work-list__item {
  display: block;
  background-color: #fff;
  opacity: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: 0 auto 50px;
  width: 190px;
  height: 210px;
  transition: opacity .3s,
    background .3s;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    background-color: $red;
  }
}

.work-list--active .work-list__item {
  opacity: 1;
}

.work-list__item img {
  object-fit: cover;
  width: 100%;
  height: 160px;
}

.work-list__item h3 {
  color: $colorTitle;
  font-size: 18px;
  text-transform: lowercase;
  margin: 20px 0;
  transition: color .3s;
}

.work-list__item:hover h3,
.work-list__item:focus h3 {
  color: #fff;
}

@media (min-width: $tabletWidth) {

  .work-list__btn {
    transform: translate(-50px, 35px);
  }

  .work-list__item {
    width: 350px;
    height: 370px;
  }

  .work-list__item img {
    height: 290px
  }
}

@media (min-width: $laptopWidth) {
  .work-list__item {
    width: 250px;
    height: 270px;
  }

  .work-list__item img {
    height: 220px;
  }
}
