body {
  background-color: #f4f4f4;
  font-family: "Montserrat", "Arial", sans-serif; }

img {
  max-height: 100%;
  vertical-align: middle; }

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  min-height: calc(100vh - 30px);
  -webkit-perspective: 1000px;
          perspective: 1000px; }

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  opacity: 1;
  overflow: hidden;
  max-width: 450px;
  transition: opacity .7s, -webkit-transform .7s;
  transition: opacity .7s, transform .7s;
  transition: opacity .7s, transform .7s, -webkit-transform .7s; }

.panel--disabled {
  opacity: 0;
  -webkit-transform: translateZ(-2em);
          transform: translateZ(-2em); }

.panel__secondary.panel--disabled {
  -webkit-transform: none;
          transform: none; }

.panel__secondary.panel--disabled .panel__photo {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  opacity: 0; }

.panel__secondary.panel--disabled .panel__wrapper {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  opacity: 0; }

.panel__photo {
  background-color: #777;
  opacity: 1;
  height: 250px;
  -webkit-transform: translate(0);
          transform: translate(0);
  transition: opacity .7s, -webkit-transform .7s;
  transition: opacity .7s, transform .7s;
  transition: opacity .7s, transform .7s, -webkit-transform .7s; }

.panel__photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center; }

.panel__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-sizing: border-box;
  opacity: 1;
  padding: 30px 25px 60px;
  -webkit-transform: translate(0);
          transform: translate(0);
  transition: opacity .7s, -webkit-transform .7s;
  transition: opacity .7s, transform .7s;
  transition: opacity .7s, transform .7s, -webkit-transform .7s; }

.panel__secondary .panel__wrapper {
  justify-content: space-between; }
  .panel__secondary .panel__wrapper::after {
    content: "";
    display: block;
    width: 100%; }

.panel__content > p {
  color: #444;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
  padding: 0;
  margin: 0;
  padding-bottom: 40px; }
  .panel__content > p:last-child {
    padding-bottom: 0; }

.panel__btn {
  text-align: center; }

.panel__btn .btn {
  font-weight: normal; }

.link {
  display: inline-block;
  color: #d8475a;
  cursor: pointer;
  border: 2px solid #d8475a;
  background: transparent;
  font-weight: bold;
  text-transform: uppercase;
  padding: 3px 20px;
  transition: color .3s, background .3s; }
  .link:hover, .link:focus {
    background: #d8475a;
    color: #fff; }

.title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px; }

.title__secondary {
  text-align: left; }

.title h1 {
  position: relative;
  color: #555;
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 50px; }
  .title h1::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -25px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #cccccc;
    width: 150px;
    height: 1px; }

.title h2 {
  position: relative;
  color: #555;
  font-size: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 50px; }
  .title h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -25px;
    background-color: #cccccc;
    width: 80px;
    height: 1px; }

.title p {
  color: #444;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin-bottom: 0; }

.title__secondary p {
  font-size: 12px;
  letter-spacing: 3px;
  line-height: 18px;
  font-weight: 300; }

.nav {
  margin-bottom: 50px; }

.nav__list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0; }

.nav__list li {
  position: relative;
  margin-bottom: 25px; }
  .nav__list li::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #cccccc;
    height: 25px;
    width: 1px; }
  .nav__list li:last-child {
    margin-bottom: 0; }
    .nav__list li:last-child::before {
      display: none; }

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 170px; }

.social__item {
  color: #444;
  font-size: 0;
  text-decoration: none;
  transition: 0.3s;
  outline: none; }
  .social__item:hover {
    color: #d8475a; }
  .social__item::before {
    font-size: 20px; }
  .social__item:focus {
    color: #d8475a; }

.form__union {
  display: flex;
  flex-direction: column; }

.form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25px; }

.form__wrapper--half {
  width: 100%; }

.form__name {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 15px; }

.form .form__btn {
  padding: 12px 30px; }

.btn {
  display: inline-block;
  background: none;
  border: 1px solid #cccccc;
  border-radius: 8px;
  color: #444;
  cursor: pointer;
  font-family: inherit;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  min-width: 140px;
  outline: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, -webkit-transform .7s;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform .7s;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform .7s, -webkit-transform .7s; }
  .btn:hover {
    border-color: #d8475a;
    color: #d8475a; }
  .btn:active {
    background-color: #fdf4f5; }
  .btn:focus {
    border-color: #d8475a;
    color: #d8475a; }

.btn--active {
  -webkit-transform: rotateY(480deg);
          transform: rotateY(480deg); }

.btn__back {
  position: relative;
  align-self: flex-start;
  padding: 10px 20px 10px 45px;
  min-width: 0; }
  .btn__back::before {
    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 17px;
    opacity: 0.7; }

.btn__back.btn--active {
  -webkit-transform: rotateX(480deg);
          transform: rotateX(480deg); }

.text-field {
  border-radius: 8px;
  background-color: rgba(144, 144, 144, 0.075);
  border: 1px solid #cccccc;
  color: #444;
  font-family: inherit;
  font-size: 15px;
  outline: none;
  padding: 10px 15px;
  transition: border 0.3s, box-shadow 0.3s; }
  .text-field:focus {
    border-color: #d8475a;
    box-shadow: 0 0 0 1px #d8475a; }

textarea.text-field {
  resize: none;
  height: 130px;
  margin-bottom: 20px; }

.work-list {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  width: 0;
  height: calc(100% - 120px);
  transition: all 0.7s; }

.work-list--active {
  background: #eedbce;
  padding: 60px 40px 60px 15px;
  width: calc(100% - 55px); }

.work-list--active .work-list__btn {
  display: block; }

.work-list__btn {
  display: none;
  position: fixed;
  top: 20px;
  right: 25px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 0;
  outline: none;
  width: 40px;
  height: 40px; }
  .work-list__btn::after, .work-list__btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 4px;
    height: 40px;
    transition: background .3s; }
  .work-list__btn::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg); }
  .work-list__btn::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg); }
  .work-list__btn:hover::after, .work-list__btn:hover::before {
    background: #d8475a; }
  .work-list__btn:focus::after, .work-list__btn:focus::before {
    background: #d8475a; }

.work-list__item {
  display: block;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  opacity: 0;
  outline: none;
  padding: 10px;
  margin: 0 auto 60px;
  width: 250px;
  height: 270px;
  transition: opacity .3s, background .3s; }
  .work-list__item:last-child {
    margin-bottom: 0; }
  .work-list__item:hover, .work-list__item:focus {
    background-color: #d8475a; }

.work-list--active .work-list__item {
  opacity: 1; }

.work-list__item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 220px; }

.work-list__item h3 {
  color: #555;
  font-size: 18px;
  text-transform: lowercase;
  margin: 20px 0;
  transition: color .3s; }

.work-list__item:hover h3,
.work-list__item:focus h3 {
  color: #fff; }

.copyright {
  color: #bbb;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 22px;
  opacity: 1;
  transition: opacity .7s; }

.copyright--disabled {
  opacity: 0; }

@media (min-width: 735px) {
  .panel {
    max-width: 100%;
    width: 100%; }
  .panel__photo {
    height: 60vh; }
  .panel__wrapper {
    padding: 30px;
    padding-bottom: 60px; }
  .panel__content > p {
    font-size: 14px;
    line-height: 23px; }
  .title h1 {
    font-size: 35px; }
  .title h2 {
    font-size: 30px; }
  .title p {
    font-size: 16px; }
  .title__secondary p {
    font-size: 14px;
    line-height: 20px; }
  .form__union {
    flex-direction: row; }
  .form__wrapper--half {
    padding-right: 26px;
    width: calc(50% - 13px); }
    .form__wrapper--half:last-child {
      padding: 0; }
  .form__name {
    font-size: 13px; }
  .text-field {
    padding: 15px; }
  .work-list--active {
    padding: 60px 15px;
    width: calc(100% - 30px); }
  .work-list__btn {
    right: 40px; } }

@media (min-width: 980px) {
  .panel {
    flex-direction: row;
    width: 1100px; }
  .panel__wrapper {
    padding: 44px;
    width: 50%; }
  .panel__photo {
    height: auto;
    width: 50%; }
  .panel__secondary.panel--disabled .panel__photo {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  .panel__secondary.panel--disabled .panel__wrapper {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  .title h1 {
    font-size: 40px; }
  .title h2 {
    font-size: 30px; }
  .title p {
    font-size: 18px; }
  .title__secondary p {
    font-size: 13px;
    line-height: 19px; }
  .nav {
    margin-top: 50px;
    margin-bottom: 50px; }
  .form .form__btn {
    font-size: 13px; } }

@media (min-width: 1280px) {
  .panel {
    width: 1300px; }
  .title h1 {
    font-size: 50px; }
  .title p {
    font-size: 23px; }
  .title__secondary p {
    font-size: 14px;
    line-height: 20px; }
  .nav {
    margin-top: 70px;
    margin-bottom: 70px; }
  .form__name {
    font-size: 14px; }
  .form .form__btn {
    font-size: 15px;
    padding: 15px 37px; }
  .btn {
    font-size: 15px;
    min-width: 180px; }
  .btn__back {
    padding: 12px 20px 12px 60px;
    min-width: 0; }
    .btn__back::before {
      top: 47%;
      font-size: 22px; } }
