.form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__wrapper label {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}